*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Futura Now Headline";
}
*::-webkit-scrollbar{
  display: none;
}
.hide{
  visibility: hidden;
}
.unhide{
  visibility: visible;
}
.opacityhalf{
  opacity: 0.6;
}
.opacityfull{
  opacity: 1;
}
.blurr{
  filter: blur(3px);
}
.nonblurr{
  filter: blur(0px);
}
.hideDisplay{
  display: none;
}
.showDisplay{
  display: flex;
}
